<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="First suite" parallel="tests">
    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>
    <test name="IsNegativeCalcTest">
        <classes>
            <class name="testsNGTests.IsNegativeCalcTest"></class>
        </classes>
    </test>
    <test name="WaitCalcTest">
        <classes>
            <class name="testsNGTests.WaitCalcTest"></class>
        </classes>
    </test>

    <test name="DivTest">
        <classes>
            <class name="testsNGTests.DivCalcTest"></class>
        </classes>
    </test>
    <test name="SumTest">
        <classes>
            <class name="testsNGTests.SumCalcTest"></class>
        </classes>
    </test>
   <test name="TestGroups">
        <groups>
            <run>
                <include name="correctTests" /><!-- позитивные кейсы-->
                <include name="base" /><!-- создание и очистка объекта калькулятора-->
                <exclude name="inCorrectTests" /><!--негативные кейсы-->
            </run>
        </groups>
        <classes>
            <class name="testsNGTests.SumCalcTest"></class>
        </classes>
    </test>
</suite>
